<!DOCTYPE html>

{% extends 'base.html' %}


<html>
<head>
    <title> Home </title>
    <h1> Home Page </h1>
</head>

<body>
    {% block content %}
        {% for post in post_list %}
        <div class='post-block'>
            <h2> Title:<a href="{% url 'post_detail' post.pk %}"> {{post.title}} </a></h2>
            <p> Author: {{post.author}}</p>
            <p> Body: {{post.body}} </p>

            {% comment %} <p><img src="media/images/ban_image1.jpg"></a></p> {% endcomment %}
        </div>
        {% endfor %}
        

    {% endblock content %}
</body>

</html> 




